<!DOCTYPE html>
<html>
<head>
    <title>Practice Tracker</title>
</head>
<body>
    <h1>Practice Tracker</h1>
    <table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Meditation</th>
            <th>Kraftsport</th>
            <th>Sauna</th>
            <th>Coding</th>
        </tr>
    </thead>
    <tbody>
        {% for eintrag in eintraege %}
        <tr>
            <td>{{ eintrag.datum }}</td>
            <td>{{ eintrag.meditation }}</td>
            <td>{{ eintrag.kraftsport }}</td>
            <td>{{ eintrag.sauna }}</td>
            <td>{{ eintrag.coding }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>

