<!DOCTYPE html>
<html>
<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <main class="container">
    <h1>Practice Tracker</h1>
    <div id="table-container">
        {% include "_table.html" %}
    </div>
    <div id="streak-container">
        {% for practice, streak in streaks.items() %}
        {% include "_streak.html" %}
        {% endfor %}
    </div>
    <h2>Heute tracken</h2>
<button hx-post="/track/meditation" hx-target="#table-container">Meditation</button>
<button hx-post="/track/kraftsport" hx-target="#table-container">Kraftsport</button>
<button hx-post="/track/sauna" hx-target="#table-container">Sauna</button>
<button hx-post="/track/coding" hx-target="#table-container">Coding</button>
</main>
</body>
</html>

